/* Root Variables: Define primary and text colors for easy theme management */
:root {
    --accent-color: #e50914;
    --text-color: #000000;
}

/* Global Styles: Applies a universal box model and default margin and padding */
* {
    margin: 0;
    padding: 5px;
    border: none;
    box-sizing: border-box;
}

/* Body Styling: Sets up font, background, and basic layout properties */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    color: var(--text-color);
    background: url("../images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

/* Main content wrapper */
.main-content {
    position: fixed;
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(224, 223, 231, 0.8);
    border-radius: 10px;
}


ul,
ol {
    list-style-type: none;
}

/* Reset Button Style: Fixes button's position on the screen */
#resetButton {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    margin-top: 20px;
    margin-left: 20px;
    background-color: var(--accent-color);
    color: rgb(246, 243, 243);
    border: none;
    border-radius: 222px;

}

/* Common Container Styling: Applies to header, section, and footer */
header,
section,
footer {
    position: relative;
    padding: 10px;
    margin: 13px;
    background-color: rgba(224, 223, 231, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(32, 57, 65, 0.8);
    text-align: center;

}

/* Footer specific styling */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(224, 223, 231, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(32, 57, 65, 0.8);
}

/* Link Styling: Ensures all links have consistent text decoration and color */
a {
    text-decoration: none;
    color: var(--text-color);
}

/* Button Styling: Sets the appearance of all buttons */
button {
    font-size: 1.5em;
    border-radius: 222px;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--accent-color);
    color: rgb(246, 243, 243);
    border: none;
}

/* Visibility Classes: Controls display properties for hiding or showing elements */
.hidden {
    display: none;
}

.visible {
    display: block;
}

/* Media Queries for Responsiveness: Adjust font sizes and layout for smaller screens */
@media screen and (max-width: 576px) {
    #heading {
        font-size: 1.85em;
    }

    h2 {
        font-size: 1.3em;
    }

    .instructions {
        font-size: 2em;
    }
}

/* Further Responsive Adjustments for very small screens */
@media screen and (max-width: 320px) {

    #heading,
    h2 {
        font-size: 1.4em;
    }

    .instructions,
    #copyright {
        font-size: 0.9em;
    }

    button {
        font-size: 1em;
        line-height: 2;
    }

    #question {
        font-size: 1.3em;
    }
}

/* Smallest Screen Adjustments */
@media screen and (max-width: 280px) {
    h2 {
        font-size: 1.15em;
    }
}